@font-face {
  font-family: "Margot";
  src: url("../fonts/Margot-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Margot";
  src: url("../fonts/Margot-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans";
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  text-align: left;
  background-color: #003366;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Margot";
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1em;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 992px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  max-width: 70%;
}

.bg-blue {
  background-color: #003366;
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: #97bd30;
}

.bg-gray {
  background-color: #eaeaea;
  color: #333333;
}

.text-blue {
  color: #003366;
}

.text-white {
  color: white;
}

.text-green {
  color: #97bd30;
}

a.text-green:hover,
a.text-green:focus {
  color: #97bd30;
}

.text-gray {
  color: #eaeaea;
}

section {
  padding: 120px 0px 60px 0px;
  display: block;
  /* box-shadow: 0px -10px 20px #00000010; */
  background-size: cover;
}

@media (max-width: 992px) {
  section {
    /* 60 + 68px (navbar) */
    padding: 80px 0px 60px 0px;
  }
}

#banner {
  padding: 60px 0px 60px 0px;
  text-align: center;
}

#banner > img {
  max-width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  #banner {
    padding: 100px 0px 60px 0px;
  }
}

#hello {
  padding-top: 60px;
  padding-bottom: 0px;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 1000;
  padding: 0px 30px 0px 60px;
  background: white;
  border-bottom: 1px solid #eaeaea;
}

@media (max-width: 992px) {
  .navbar {
    padding: 4px 16px;
    background: white;
    border: none;
    position: fixed;
    width: 100%;
    box-shadow: 0 -10px 20px #00000050;
  }
  .navbar > img {
    content: url(../img/logo_feiradolivro2020_mini.svg);
    width: 60%;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Margot";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #003366;
  padding: 30px;
  transition: 500ms;
}

@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 18px;
    width: fit-content;
    background: white;
  }
}

.navbar-nav {
  margin-right: 0;
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #97bd30;
  filter: opacity(0.7);
}

.navbar-light .navbar-nav .nav-link:focus:after,
.navbar-light .navbar-nav .nav-link:hover:after {
  content: url(../img/higi_after.svg);
  position: fixed;
  top: 28px;
  right: 10px;
  transition: 300ms;
}

.navbar-light .navbar-nav .nav-link:focus:before,
.navbar-light .navbar-nav .nav-link:hover:before {
  content: url(../img/higi_before.svg);
  position: fixed;
  top: 28px;
  left: 10px;
  transition: 300ms;
}

@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link:focus:before,
  .navbar-light .navbar-nav .nav-link:hover:before,
  .navbar-light .navbar-nav .nav-link:focus:after,
  .navbar-light .navbar-nav .nav-link:hover:after {
    content: "";
  }
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: #003366;
  border: none;
  padding: 0px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/burger.svg);
  width: 42px;
  height: 42px;
}

.card-header-2020 {
  border: 1px solid #97bd30;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  background: transparent;
  padding: 15px 15px;
}

div#headingOne {
  border-top-width: 1px;
}

.card.stream {
  margin: 16px 0px;
  cursor: pointer;
  transition: 200ms;
}

.card.stream:after {
  content: url(../img/meet_icon.svg);
  position: absolute;
  top: 55px;
  right: 30px;
}

@media (max-width: 992px) {
  .card.stream:after {
    content: "";
  }
}

.card.stream:hover {
  background: #f3fcff;
}

.card {
  border: none;
}

.card-header-2020 > h2 > button {
  font-size: 30px;
  line-height: 1.4em;
  align-self: baseline;
  font-weight: bold;
  color: #003366;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

@media (max-width: 992px) {
  .card-header-2020 {
    background: #eaeaea;
    position: sticky;
    top: 55px;
    z-index: 100;
  }
  .card-header-2020 > h2 > button {
    font-size: 24px;
  }
}

.card-header-2020 > h2 > button:after {
  content: url(../img/chevron-down.svg);
  position: relative;
}

.btn-link:focus,
.btn-link:hover {
  color: #003366;
  text-decoration: none;
  filter: opacity(0.7);
}

.btn-link:focus {
  box-shadow: none;
}

.a-link,
.a-link:not([href]) {
  color: #97bd30;
  text-decoration: underline;
}

.a-link:hover,
.a-link:focus {
  color: #97bd30;
  text-decoration: underline;
  filter: opacity(0.7);
}

#banca {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/banca2020.png);
  background-size: cover;
}

#banca .card {
  height: 180px;
  align-items: center;
  justify-content: space-around;
}

#concurso {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/concurso2020.png);
  background-size: cover;
}

.concurso-1 {
  color: #ffa800;
}
.concurso-1:before {
  content: url(../img/concurso-1.svg);
}
.concurso-2 {
  color: #6b6b6b;
}
.concurso-2:before {
  content: url(../img/concurso-2.svg);
}
.concurso-3 {
  color: #652400;
}
.concurso-3:before {
  content: url(../img/concurso-3.svg);
}
.concurso:before {
  top: 4px;
  right: 5px;
  position: relative;
}

.card-empty {
  border: 5px dashed #eaeaea;
  min-height: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaeaea;
}

footer {
  padding: 70px 0px;
  display: block;
  /* box-shadow: 0px -10px 20px #00000010; */
  background-size: cover;
}

footer .redes > a {
  margin-left: 20px;
  transition: 300ms;
}

footer .redes > a:hover,
footer .redes > a:focus {
  filter: opacity(0.7);
  text-decoration: none;
}
hr {
  border-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  hr {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
  }
  #logo_higi_footer {
    margin-top: 60px;
    height: 150px;
  }
  #logo_esperanca {
    width: 200px;
    margin-top: 60px;
  }
  footer .redes > a {
    margin-left: 0px;
    transition: 300ms;
  }
  footer .redes > a:first-child {
    margin-right: 10px;
  }
}
